*{
    margin: 0;
    padding: 0;
    font-family: "josefin Sans", sans-serif;
    box-sizing: border-box;
}
.heading{
    background-image: url("promain.Png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 8% 0 8%;

}
.logo{
    font-size: 45px;
    letter-spacing: 2px;
    cursor: pointer;
}
h2 span{
    color: deeppink;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 20px 5px 0 8px;
}
nav ul li a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px 1px black;
}
nav ul li a:hover{
    color: orange;
    transform: scale(1.2);
    transition: 0.5s;
}
.btn{
    border: 2px solid black;
    border-radius: 10px;
    Padding:10px;
    width: 200px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: deeppink;
    box-shadow: 1px 1px 1px 1px black;
}
.btn:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
.profile{
    position:absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    font-size: 60px;
    color: black;
    font-style: italic;
    margin: 20px 0 20px;
}
h1 span{
    color: deeppink;
}
h3{
    font-style: italic;
    font-size: 35px;
    color: black;
}
h4{
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
    font-style: italic;
}
.newsletter form{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 20px;
}
.mail{
    width: 400px;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    text-align: left;
}
.submit{
    background-color: deeppink;
    color: white;
    width: 100px;
    padding: 8px;
    border: 1px solid deeppink;
    border-radius: 30px;
    position: relative;
    right: 110px;
}
.submit:hover{
    transform: scale(1.2);
    transition:0.4s;
}
#abimg{
    margin: 150px 0 150px 150px;
    width: 35%;
    height: 30%;
}
.about{
    background-color: black;
    align-content: center;

}
.abouttext{
    width: 500px;
    text-align: justify;

}
.main{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}
.abouttext h2{
    color: white;
    font-size: 70px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.abouttext h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    font-style: italic;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.abouttext h5 span{
    color: deeppink;

}
.abouttext p{
    color: #fcd2d9;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 45px;
}
#aboutbtn{
    background-color: deeppink;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid deeppink;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
}
#aboutbtn:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: transparent;
    border: 2px solid deeppink;
}



